@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap");
* {
  font-family: "Noto Sans TC", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  background-color: #292b73;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decoration {
  font-size: 400px;
  line-height: 1;
  color: white;
  position: absolute;
  font-weight: 900;
  opacity: 0.1;
  left: 0px;
}

.panels {
  display: flex;
  width: 100%;
  max-width: 900px;
  position: relative;
  z-index: 1;
}

.panel {
  flex: 5;
  padding: 30px;
  background-color: #fff;
  color: #292b73;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.panel.yellow {
  flex: 4;
  background-color: #ffb637;
}

h1, h3 {
  margin: 0;
  text-align: center;
}

h1 {
  font-weight: 700;
  margin-bottom: 30px;
}

h3 {
  font-weight: 400;
}

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  letter-spacing: 1px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
textarea:focus {
  border-color: #292b73;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

button {
  padding: 10px 20px;
  border-radius: 0px;
  margin: 6px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  border: none;
}
button.yellow {
  background-color: #ffb637;
}
button.purple {
  background-color: #292b73;
  color: white;
}
button.white {
  background-color: white;
  border: 2px solid #292b73;
}

.symbol {
  font-size: 24px;
  text-align: center;
  font-weight: 900;
}

hr {
  border: none;
  border-bottom: 3px solid #292b73;
}

.translist {
  display: flex;
  flex-direction: column;
  height: 450px;
  flex-wrap: wrap;
}
.translist li {
  margin-bottom: 12px;
  font-size: 18px;
  width: 30%;
}

.playlist {
  font-size: 20px;
  text-align: center;
  height: 20px;
}
.playlist .playing {
  color: #ffb637;
}